# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment
.env

# FastAPI / Python tooling
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/
build/

# Modelos treinados
ai/models/exported/*.pt
ai/models/checkpoints/*.pt
ai/models/**/*.pth

# Jupyter
.ipynb_checkpoints/

# Dataset
ai/datasets/gastrointestinal/

# Outputs experimentais
ai/training/experiments/outputs/

# Torch cache
.cache/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# Docker
postgres_data/

# testing
/coverage

# misc
.eslintcache
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# upload exams
uploads/